<div class="container">
    <h1 class="mt-5 mb-4 text-center">Add New Yeti</h1>
    <form style="text-align: center; width: 50%;  margin: 0 auto" method="POST" enctype="multipart/form-data">
        <!-- Yeti Name -->
        <div class="mb-3">
            <label for="yetiName" class="form-label">Yeti Name *</label>
            <input type="text" class="form-control text-center" id="yetiName" name="yetiName" required>
        </div>
        <!-- Place of Discovery -->
        <div class="mb-3">
            <label for="placeOfDiscovery" class="form-label">Place of Discovery*</label>
            <input type="text" class="form-control text-center" id="placeOfDiscovery" name="placeOfDiscovery" required>
        </div>
        <!-- Color -->
        <div class="mb-3">
            <label for="color" class="form-label">Color*</label>
            <input type="text" class="form-control text-center" id="color" name="color" required>
        </div>
        <!-- Weight -->
        <div class="mb-3">
            <label for="weight" class="form-label">Weight</label>
            <input type="text" class="form-control text-center" id="weight" name="weight">
        </div>
        <!-- Height -->
        <div class="mb-3">
            <label for="height" class="form-label">Height</label>
            <input type="text" class="form-control text-center" id="height" name="height">
        </div>
        <!-- Image -->
        <div class="mb-3">
            <label for="image" class="form-label">Image *</label>
            <input type="file" class="form-control p-1 text-center" id="image" name="image" required>
        </div>
        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Add Yeti</button>
    </form>
</div>