<div class="container">
    <h1 class="mt-5 mb-4 text-center">Add New Yeti</h1>
    <form style="text-align: center; width: 50%;  margin: 0 auto" method="POST" enctype="multipart/form-data">
        {{ form_start(yetiForm) }}
        <!-- Yeti Name -->
        <div class="mb-3">
            {% if error %}
                <label class="form-label font-weight-bold text-danger" style="color: red">{{ error }}</label>
                {{ form_widget(yetiForm.name, {'attr': {'class': 'text-danger form-control text-center', 'placeholder': 'Mother in law'}}) }}
            {% else %}
                <label class="form-label">Yeti Name *</label>
                {{ form_widget(yetiForm.name, {'attr': {'class': 'form-control text-center', 'placeholder': 'Mother in law'}}) }}
            {% endif %}
        </div>
        <!-- Place of Discovery -->
        <div class="mb-3">
            <label class="form-label">Place of Discovery *</label>
            {{ form_widget(yetiForm.appearance, {'attr': {'class': 'form-control text-center', 'placeholder': 'Brazil'}}) }}
        </div>
        <!-- Color -->
        <div class="mb-3">
            <label class="form-label">Color *</label>
            {{ form_widget(yetiForm.color, {'attr': {'class': 'form-control text-center'}}) }}
        </div>
        <!-- Weight -->
        <div class="mb-3">
            <label class="form-label">Weight in kg</label>
            {{ form_widget(yetiForm.weight, {'attr': {'class': 'form-control text-center', 'placeholder': '320' }}) }}
        </div>
        <!-- Height -->
        <div class="mb-3">
            <label class="form-label">Height in cm</label>
            {{ form_widget(yetiForm.height, {'attr': {'class': 'form-control text-center', 'id': 'heightInput', 'placeholder': '250'}}) }}
        </div>

        <!-- Image -->

        {% if vykreslovatImg %}
            <div class="mb-4">
                <label class="form-label">Image *</label>
                {{ form_widget(yetiForm.image_path, {'attr': {'class': 'form-control text-center', 'type': 'file', 'accept': 'image/*'}}) }}
            </div>
        {% else %}
            <div style="visibility: hidden; margin-bottom: -1.5em ">
                {{ form_widget(yetiForm.image_path, {'attr': {'class': 'form-control text-center', 'type': 'file', 'accept': 'image/*', 'required': 'required'}}) }}
            </div>
        {% endif %}

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Add Yeti</button>
        {{ form_end(yetiForm) }}
    </form>
</div>